// Path to assets for use with the file-url function
// in the govuk frontend toolkit"s url-helpers partial
$path: "/public/images/";

// Import GOV.UK Frontend
@import "govuk-frontend/all";

// Patterns that aren"t in GOV.UK Frontend
@import "patterns/check-your-answers";
@import "patterns/related-items";

// JUI styles
@import "jui/all";

body {
  @include govuk-font($size: 16);
}

mark.comment {
  background-color: govuk-colour(orange);
}

.medium-toolbar-arrow-under:after {
  border-color: #2f1e07 transparent transparent;
}

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent #2f1e07 ;
}