{% extends "layouts/admin/casefile.html" %}

{% block file_content %}

  <div class="jui-casefile-page-content" data-page="1">

    <div class="jui-casefile-page-head">
      <img src="/public/images/logo-hmcts.svg" alt="HM Courts &amp; Tribunals Service">
    </div>

    <div class="jui-casefile-page-body">

      <h2 class="govuk-heading-l">Statements and affidavit 1</h2>

      <p>Mauris feugiat sem dui, sed venenatis nunc suscipit sit amet. Morbi finibus eros vel massa ultricies interdum sit amet in felis. Quisque rhoncus felis sed metus vehicula blandit. Ut euismod elementum est ac porttitor. Duis tincidunt luctus augue. Integer suscipit eleifend faucibus. Curabitur et pretium enim. Sed ut ante non diam faucibus pulvinar sed in nunc. Sed risus quam, fermentum id vehicula sed, ultricies eget arcu.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Quisque pellentesque</li>
        <li>Donec et augue porta</li>
        <li>urabitur finibus</li>
      </ul>

      <p>Mauris feugiat sem dui, sed venenatis nunc suscipit sit amet. Morbi finibus eros vel massa ultricies interdum sit amet in felis. Quisque rhoncus felis sed metus vehicula blandit. Ut euismod elementum est ac porttitor. Duis tincidunt luctus augue. Integer suscipit eleifend faucibus. Curabitur et pretium enim. Sed ut ante non diam faucibus pulvinar sed in nunc. Sed risus quam, fermentum id vehicula sed, ultricies eget arcu.</p>

    </div>

  </div>

  <div class="jui-casefile-page-content" data-page="2">

    <div class="jui-casefile-page-head">
      <img src="/public/images/logo-hmcts.svg" alt="HM Courts &amp; Tribunals Service">
    </div>

    <div class="jui-casefile-page-body">

      <p>Donec viverra quis nisi porta finibus. Fusce in velit eget purus imperdiet cursus. Ut arcu nibh, faucibus sit amet pharetra et, convallis luctus mauris. Nunc ut orci quis dolor mollis tincidunt non vulputate nisl. Donec augue tortor, hendrerit non fermentum id, ultrices quis leo. Donec sagittis justo sed ante sodales, non porta felis fringilla. In vitae placerat sapien. Proin nisi nulla, eleifend vulputate molestie quis, commodo vitae tellus. Duis scelerisque, mauris eget posuere bibendum, purus purus blandit sem, quis gravida metus tellus interdum mi. Donec commodo a ligula et volutpat. Etiam elementum nunc nec mi fringilla, tempor eleifend erat finibus. Aenean finibus libero augue, non egestas ipsum tincidunt at. Praesent elementum, nunc id hendrerit viverra, felis risus placerat urna, dignissim ullamcorper mi turpis ac nulla.</p>

      <h2 class="govuk-heading-m">Quisque iaculis lacinia tellus</h2>

      <p>Mauris feugiat sem dui, sed venenatis nunc suscipit sit amet. Morbi finibus eros vel massa ultricies interdum sit amet in felis. Quisque rhoncus felis sed metus vehicula blandit. Ut euismod elementum est ac porttitor. Duis tincidunt luctus augue. Integer suscipit eleifend faucibus. Curabitur et pretium enim. Sed ut ante non diam faucibus pulvinar sed in nunc. Sed risus quam, fermentum id vehicula sed, ultricies eget arcu.</p>

      <h3 class="govuk-heading-s">Praesent nec rutrum</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>Quisque pellentesque</li>
        <li>Donec et augue porta</li>
        <li>urabitur finibus</li>
      </ul>
      
    </div>

  </div>

{% endblock %}