{% extends "layouts/admin/casefile.html" %}

{% block file_content %}

  <div class="jui-casefile-page-content" data-page="1">

    <div class="jui-casefile-page-head">
      <img src="/public/images/logo-hmcts.svg" alt="HM Courts &amp; Tribunals Service">
    </div>

    <div class="jui-casefile-page-body">

      <h2 class="govuk-heading-l">Other documents</h2>

      <p>Mauris feugiat sem dui, sed venenatis nunc suscipit sit amet. Morbi finibus eros vel massa ultricies interdum sit amet in felis. Quisque rhoncus felis sed metus vehicula blandit. Ut euismod elementum est ac porttitor. Duis tincidunt luctus augue. Integer suscipit eleifend faucibus. Curabitur et pretium enim. Sed ut ante non diam faucibus pulvinar sed in nunc. Sed risus quam, fermentum id vehicula sed, ultricies eget arcu.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Quisque pellentesque</li>
        <li>Donec et augue porta</li>
        <li>urabitur finibus</li>
      </ul>

      <p>Mauris feugiat sem dui, sed venenatis nunc suscipit sit amet. Morbi finibus eros vel massa ultricies interdum sit amet in felis. Quisque rhoncus felis sed metus vehicula blandit. Ut euismod elementum est ac porttitor. Duis tincidunt luctus augue. Integer suscipit eleifend faucibus. Curabitur et pretium enim. Sed ut ante non diam faucibus pulvinar sed in nunc. Sed risus quam, fermentum id vehicula sed, ultricies eget arcu.</p>

    </div>

  </div>

  <div class="jui-casefile-page-content" data-page="2">

    <div class="jui-casefile-page-head">
      <img src="/public/images/logo-hmcts.svg" alt="HM Courts &amp; Tribunals Service">
    </div>

    <div class="jui-casefile-page-body">

      <p>Mauris feugiat sem dui, sed venenatis nunc suscipit sit amet. Morbi finibus eros vel massa ultricies interdum sit amet in felis. Quisque rhoncus felis sed metus vehicula blandit. Ut euismod elementum est ac porttitor. Duis tincidunt luctus augue. Integer suscipit eleifend faucibus. Curabitur et pretium enim. Sed ut ante non diam faucibus pulvinar sed in nunc. Sed risus quam, fermentum id vehicula sed, ultricies eget arcu.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Quisque pellentesque</li>
        <li>Donec et augue porta</li>
        <li>urabitur finibus</li>
      </ul>

      <p>Mauris feugiat sem dui, sed venenatis nunc suscipit sit amet. Morbi finibus eros vel massa ultricies interdum sit amet in felis. Quisque rhoncus felis sed metus vehicula blandit. Ut euismod elementum est ac porttitor. Duis tincidunt luctus augue. Integer suscipit eleifend faucibus. Curabitur et pretium enim. Sed ut ante non diam faucibus pulvinar sed in nunc. Sed risus quam, fermentum id vehicula sed, ultricies eget arcu.</p>

    </div>

  </div>

{% endblock %}