{% extends "layouts/admin/base.html" %}

{% set casenavId = "casefile" %}

{% block page_title %}Casefile{% endblock %}

{% block content %}

  {% include "includes/casebar.html" %}

  <div class="jui-width-container">

    <main class="govuk-main-wrapper" role="main">

      {% include "includes/secondary-nav.html" %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Case file</h1>
        </div>
        <div class="govuk-grid-column-one-third">
          {{ govukButton({
            text: "Follow",
            href: "#",
            classes: "jui-!-align-right"
          }) }}
        </div>
      </div>

      <div class="jui-casefile govuk-!-margin-bottom-6">

        <div class="jui-casefile-files">
          <ul class="jui-casefile-list">
            {% for document in documents %}
              <li class="jui-casefile-list__item">
                <a class="jui-casefile-list__link" href="/app/cases/{{casenav.id}}/documents/{{document.id}}" {{ 'aria-current=true' if activeDocument == document.id}}>{{document.label}}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="jui-casefile-document-wrapper">
          <div class="jui-casefile-page editable">
            {% block file_content %}{% endblock %}
          </div>
        </div>
      </div>
    </main>
  </div>

{% endblock %}