{% extends "layouts/admin/base.html" %}

{% set pageID = "Dashboard" %}

{% block page_title %}Dashboard{% endblock %}

{% block content %}

<div class="jui-width-container">

  <main class="govuk-main-wrapper" role="main">

    <h1 class="govuk-heading-l">Dashboard</h1>

    {{ govukTable({
        "classes": "",
        "caption": "Your cases",
        "captionClasses": "govuk-heading-m",
        "firstCellIsHeader": true,
        "head": [
          {"text": "Case number"},
          {"text": "Parties"},
          {"text": "Type"},
          {"text": "Status"},
          {"text": "Start date"},
          {"text": "Date of last event"}
        ],
        "rows": caseList
      }) }}

  </main>

</div>

{% endblock %}