/* ==========================================================================
   #TABLE
   ========================================================================== */

.jui-table--fixed {
  table-layout: fixed;
}

.jui-table--fixed .govuk-table__header {
  vertical-align: top;
}

.jui-table--fixed .govuk-table__cell {
  vertical-align: top;
}


// Shame

.jui-table--summary {

  .govuk-table__header {

    @include mq($from: tablet) {
      width: 230px;
    }

  }

}